[submodule "lib/base"]
	path = lib/base
	url = https://github.com/super-ast/base.git
[submodule "gflags"]
	path = gflags
	url = https://github.com/gflags/gflags.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/miloyip/rapidjson.git
